{% extends 'dashboard/base.html'%}
{% load static %}
<link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet"/>
{% block body %}
<div class="box">
    <div class="container">
        <a href="/logout"  class="btn btn-info btn-lg">Logout</a>
        <a href="changepass"  class="btn btn-info btn-lg">Change Password</a>
        <h1 class="text-center">Add Yours Details</h1>
        <div class="customer_box">
            <form method="post" id="add_customer">
                {%csrf_token%}
                {% for field in form %}
                <div class="col-md-6">

                    <div class="form-group">

                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}


                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg">Add Your Details</button>
                        <a href="dashbord"  class="btn btn-info btn-lg">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}