{% extends 'base2.html'%}

{% block content %}
<div class="box">
    <div class="container">
        <h1 class="text-center">Update Your Information</h1>
        <div class="customer_box editdiv">
        <form method="post">
            {%csrf_token%}
            {% for field in form %}
            <div class="col-md-4">

                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}

                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-1">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Edit Customer</button>
                    <a href="#"  class="btn btn-info btn-lg">Back</a>
                </div>
            </div>

        </form>
        </div>
    </div>
</div>
{% endblock%}