
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Emp</title>

    <!-- loader-->
  <!--<link href="assets/css/pace.min.css" rel="stylesheet"/>
  <script src="assets/js/pace.min.js"></script>-->


  <link rel="icon" href="{% static 'assets/images/favicon.ico'%}" type="image/x-icon">
  <!-- simplebar CSS-->
  <link href="{% static 'assets/plugins/simplebar/css/simplebar.css'%}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet"/>
  <!--Data Tables -->
  <link href="{% static 'assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css">
  <!-- animate CSS-->
  <link href="{% static 'assets/css/animate.css'%}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static 'assets/css/icons.css'%}" rel="stylesheet" type="text/css"/>
  <!-- Metismenu CSS-->
  <link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css'%}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{% static 'assets/css/app-style.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
</head>

<body class="bg-theme bg-theme1">
{% if messages %}
   {% for message in messages %}
    <small {% if message.tags%} class="{{message.tags}}"{% endif %}
    >{{message}}</small>
   {% endfor%}

{% endif%}

<!-- Start wrapper-->
 <div id="wrapper">

     <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">

    <div class="brand-logo">
	  <img src="{% static 'assets/images/webc.png'%}" class="logo-icon" alt="logo icon">
	  <h5 class="logo-text">WCT Employee</h5>
	  <div class="close-btn"><i class="zmdi zmdi-close"></i></div>
   </div>
     <ul class="metismenu" id="menu">
     	<li><a href="dashbord"><div class="parent-icon"><i class="zmdi zmdi-view-dashboard"></i></div><div class="menu-title">Dashboard</div></a></li>
		<li><a href="wctemp"><div class="parent-icon"><i class='zmdi zmdi-coffee'></i></div><div class="menu-title">Basic Info</div></a></li>
         <li><a href="show"><div class="parent-icon"><i class='zmdi zmdi-coffee'></i></div><div class="menu-title">Show Detalis</div></a></li>
         <li><a href="leave"><div class="parent-icon"><i class='zmdi zmdi-coffee'></i></div><div class="menu-title">Leave</div></a></li>
         <li><a href="account"><div class="parent-icon"><i class='zmdi zmdi-coffee'></i></div><div class="menu-title">Add Bank Info</div></a></li>
         <li><a href="payslip"><div class="parent-icon"><i class='zmdi zmdi-coffee'></i></div><div class="menu-title">payslip</div></a></li>
     </ul>
        <ul>
          <li class="list-group-item text-center"><a href="javaScript:void();">See All Messages</a></li>
        </ul>
        </div>



<!--End topbar header-->
<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Hello {{name}} Welcome to Web cloud Technology</div>
            <div class="card-body">
              <div class="table-responsive">
                  <table id="example" class="table table-bordered">

              <thead class="bg-primary text-white">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Blood Group</th>
            <th>Department</th>
            <th>Designatio</th>
            <th>Laptop</th>
            <th>salary</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="emp_table">
        {% for emp in all_employee %}
        <tr>
            <th>{{emp.name}}</th>
            <th>{{emp.code}}</th>
            <th>{{emp.mobile}}</th>
            <th>{{emp.address}}</th>
            <th>{{emp.gender}}</th>
            <th>{{emp.email}}</th>
            <th>{{emp.blood_group}}</th>
            <th>{{emp.department}}</th>
            <th>{{emp.designation}}</th>
            <th>{{emp.laptop}}</th>
            <th>{{emp.salary}}</th>
            <th><a href="{% url 'Employee:emp_edit' emp.id %}">Edit</a>
               <a href="{% url 'Employee:emp_delete' emp.id %}">Delete</a>
                <a href="emp_download">download</a>
            </th>
        </tr>
{% endfor%}

        <tfoot>


        <td colspan="8">
            {% if all_employee.has_other_pages %}
            <ul class="pagination">
                {% if all_employee.has_previous %}
                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in all_employee.paginator.page_range %}
                {% if all_employee.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if all_employee.has_next %}
                <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </td>

        </td>
        </tfoot>
        </tbody>


    </table>
            </div>
            </div>
          </div>
        </div>
      </div><!-- End Row-->
<!--start overlay-->
	  <div class="overlay"></div>
	<!--end overlay-->
    </div>

    </div>
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>


    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2020 | Powered By <strong><a href="http://www.webcloudtechnologies.com/" target="_blank" style="text-decoration: underline;">Web Cloud Technologies.</a>
        </div>
      </div>
</footer>  </div>


     <script src="{% static 'assets/js/jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/popper.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

  <!-- simplebar js -->
  <script src="{% static 'assets/plugins/simplebar/js/simplebar.js'%}"></script>
  <!-- Metismenu js -->
  <script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js'%}"></script>

  <!-- Custom scripts -->
  <script src="{% static 'assets/js/app-script.js'%}"></script>

  <!--Data Tables js-->
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/jszip.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/pdfmake.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/vfs_fonts.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.html5.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.print.min.js'%}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js'%}"></script>

    <script>
     $(document).ready(function() {
      //Default data table
       $('#default-datatable').DataTable();


       var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
      } );

     table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );

      } );

    </script></body>
</html>


